<input type="hidden" ng-model="usuario._id" class="form-control" id="id" placeholder="Id del usuario"/>
<div class="form-group">
    <label for="nombre" class="control-label">Nombre completo</label>
	<input type="text" ng-model="usuario.nombre" class="form-control" id="nombre" placeholder="Nombre completo del usuario"/>
</div>
<div class="form-group">
    <label for="nombreUsuario" class="control-label">Nombre de usuario</label>
	<input type="text" ng-model="usuario.nombre_usuario" class="form-control" id="nombreUsuario" placeholder="Nombre de usuario de inicio de sesión"/>
</div>
<div class="form-group">
    <label for="contrasena" class="control-label">Contraseña</label>
	<input type="text" ng-model="usuario.contrasena" class="form-control" id="contrasena" placeholder="Contraseña del usuario de inicio de sesión"/>
</div>
<div class="form-group">
	<input type="submit" class="btn btn-primary btn-lg" value="Guardar"/>
</div>